---
layout: home
---

{%- for post in paginator.posts -%}
<div class="post">
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
        </a>
    </h3>
{{ post.content }}
</div>
{%- endfor -%}

<nav class="pagination">
    <span class="pagination-previous">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">← Newer posts</a>
    {% endif %}
    </span>
    <span class="pagination-next">
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Older posts →</a>
    {% endif %}
    </span>
</div>