---
---

// Site color palette: https://colorhunt.co/palette/d84040a31d1decdcbff8f2de
// #D84040, #A31D1D, #ECDCBF, #F8F2DE

body {
    background-color: #fbf8ee;
    color: #110303;
}

.site-header {
    border-top-color: #fbf8ee;
    background-color: #a31d1d;
    border-bottom-color: #ecdcbf;
}

.site-title, .site-title:visited, .site-nav .page-link {
    color: #fbf8ee;
}

.post {
    margin-bottom: 3em;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: text-top;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.site-footer {
    border-top-color: #ecdcbf;
}

.rss-wrapper {
    float: left;
}

.rc-scout-wrapper {
    float: right;
}

img + em {
    display: block;
    font-size: small;
}

img + em::before {
    content: 'ID: ';
}

details[open] summary {
    margin-bottom: 1rem;
}

summary {
    cursor: pointer;
}
