---
---

body {
    background-color: #fefcfb;
    color: #0a1128;
}

.post {
    margin-bottom: 3em;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.rss-wrapper {
    float: left;
}

.rc-scout-wrapper {
    float: right;
}

img + em {
    display: block;
    font-size: small;
}

img + em::before {
    content: 'ID: ';
}

details[open] summary {
    margin-bottom: 1rem;
}

summary {
    cursor: pointer;
}
